<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Editar Livro')">
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/dashboard :: sidebar"></div>
        <div id="page-content-wrapper">
            <div class="container-fluid pt-5">
                <h1 class="titulo">Editar Livro</h1>
                <form action="#" th:action="@{/livros/salvarLivro}" th:object="${livro}" method="POST">
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group row">
                        <label for="titulo" class="col-sm-2 col-form-label">Titulo:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{titulo}" class="form-control" id="titulo" name="titulo"
                                placeholder="Digite o titulo do livro" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="autores">Autores:</label>
                        <div class="col-sm-10">
                            <select id="autores" name="autoresIds" class="form-control" multiple size="5">
                                <option th:if="${#lists.isEmpty(listaAutores)}" disabled>Nenhum autor cadastrado</option>
                                <option th:each="autor : ${listaAutores}" th:value="${autor.id}"
                                    th:selected="${livro.autores != null and #lists.contains(#lists.toList(livro.autores.![autor.id]), autor.id)}"
                                    th:text="${autor.nome + ' (' + autor.nacionalidade + ')'}">
                                    Autor (Nacionalidade)
                                </option>
                            </select>
                            <small class="form-text text-muted">Segure Ctrl (ou Cmd no Mac) para selecionar múltiplos autores</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="isbn">ISBN:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{isbn}" class="form-control" id="isbn" name="isbn"
                                placeholder="Digite o ISBN do livro (ex: 978-8576082675)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="ano">Ano:</label>
                        <div class="col-sm-10">
                            <input type="date" th:field="*{ano}" class="form-control" id="ano" name="ano"
                                placeholder="Digite o ano do livro">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="editora">Editora:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{editora}" class="form-control" id="editora" name="editora"
                                placeholder="Qual a editora do livro?">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="localizacao">Localização:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{localizacao}" class="form-control" id="localizacao"
                                name="localizacao" placeholder="Ex: Setor A - Prateleira 12">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="imagemUrl">URL da Imagem:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{imagemUrl}" class="form-control" id="imagemUrl"
                                name="imagemUrl" placeholder="Cole a URL da imagem do livro">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="disponivel">Disponivel?:</label>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:field="*{disponivel}" value="true"
                                    id="disponivelSim">
                                <label class="form-check-label" for="disponivelSim">Sim</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:field="*{disponivel}" value="false"
                                    id="disponivelNao">
                                <label class="form-check-label" for="disponivelNao">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="descricao">Descrição breve do livro:</label>
                        <div class="col-sm-10">
                            <textarea th:field="*{descricao}" class="form-control" id="descricao" name="descricao"
                                placeholder="Qual a descricao do livro?" rows="4" cols="50"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning col-2" id="botaoEditar">
                        <i class="fa fa-save"></i> Salvar Alterações
                    </button>
                    <a th:href="@{/livros}" class="btn btn-default col-2">
                        <i class="fa fa-arrow-left"></i> Voltar
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/dashboard :: dashboard-scripts"></div>
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
</body>

</html>