<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Listar Livro')">

</head>

<body>
    <div class="container">
        <h1>Listagem de Produto</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Editora</th>
                    <th scope="col">Disponivel</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">Excluir</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="livro : ${listaLivros}">
                    <td scope="row" th:text="${livro.titulo}"></td>
                    <td scope="row" th:text="${livro.autor}"></td>
                    <td scope="row" th:text="${livro.ano}"></td>
                    <td scope="row" th:text="${livro.editora}"></td>
                    <td scope="row" th:text="${livro.disponivel}"></td>
                    <td scope="row" th:text="${livro.descricao}"></td>
                    <td>
                        <a th:href="@{/livros/editarLivro/{id}(id=${livro.id})}">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/livros/deletarLivro/{id}(id=${livro.id})}">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <a th:href="@{/livros/cadastrarLivro}">
                <button class="btn btn-primary">Cadastrar Livro</button>
            </a>
        </div>
    </div>
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
</body>

</html>