<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/dash.css}">

<head th:replace="fragments/head :: head('Listar Livro')">
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/dashboard :: sidebar"></div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Listagem de Livros</h1>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Autor</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Editora</th>
                            <th scope="col">Localização</th>
                            <th scope="col">Disponivel</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="livro : ${listaLivros}">
                            <td scope="row" th:text="${livro.titulo}"></td>
                            <td scope="row" th:text="${livro.autor}"></td>
                            <td scope="row" th:text="${livro.isbn}"></td>
                            <td scope="row" th:text="${livro.editora}"></td>
                            <td scope="row" th:text="${livro.localizacao}"></td>
                            <td scope="row">
                                <span th:if="${livro.disponivel}" class="label label-success">Disponível</span>
                                <span th:unless="${livro.disponivel}" class="label label-danger">Indisponível</span>
                            </td>
                            <td>
                                <a th:href="@{/livros/editarLivro/{id}(id=${livro.id})}" class="btn btn-sm btn-warning">
                                    <i class="fa fa-edit"></i> Editar
                                </a>
                                <a th:href="@{/livros/deletarLivro/{id}(id=${livro.id})}" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i> Deletar
                                </a>
                                <a th:href="@{/livros/detalhesLivro/{id}(id=${livro.id})}"
                                    class="btn btn-sm btn-primary">
                                    <i class="fa fa-eye"></i> Detalhes
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <a th:href="@{/livros/cadastrarLivro}">
                        <button class="btn btn-primary">
                            <i class="fa fa-plus"></i> Cadastrar Livro
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/dashboard :: dashboard-scripts"></div>
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
</body>

</html>