<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Editar Emprestimo')">
</head>

<body>
    <div id="wrapper">
        <div th:replace="fragments/dashboard :: sidebar"></div>
        <div id="page-content-wrapper">
            <div class="container-fluid pt-5">
                <h1 class="titulo">Editar Empréstimo</h1>

                <form th:action="@{/emprestimo/salvarEmprestimo}" th:object="${emprestimo}" method="POST">
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group row">
                        <label for="livro_id" class="col-sm-2 col-form-label">Livro:</label>
                        <div class="col-sm-10">
                            <select th:field="*{livro.id}" id="livro_id" class="form-control" required>
                                <option th:each="livro : ${listaLivros}"
                                    th:value="${livro.id}"
                                    th:text="${livro.titulo}"
                                    th:selected="${livro.id == emprestimo.livro.id}">
</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="usuario_id" class="col-sm-2 col-form-label">Usuário:</label>
                        <div class="col-sm-10">
                            <select id="usuario_id" th:field="*{usuario.id}" class="form-control" required>
                                <option th:each="u : ${listaUsuarios}"
                                    th:value="${u.id}"
                                    th:text="${u.nome + ' - ' + u.email}">Nome - Email</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="dataEmprestimo">Data de Empréstimo:</label>
                        <div class="col-sm-10">
                            <input type="date" id="dataEmprestimo" th:field="*{dataEmprestimo}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="dataPrevistaDevolucao">Data prevista
                            devolução:</label>
                        <div class="col-sm-10">
                            <input type="date" id="dataPrevistaDevolucao" th:field="*{dataPrevistaDevolucao}"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="dataDevolucao">Data de devolução:</label>
                        <div class="col-sm-10">
                            <input type="date" id="dataDevolucao" th:field="*{dataDevolucao}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Situação:</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" th:field="*{status}" value="true" checked /> Em dia
                            </label>
                            <label class="radio-inline">
                                <input type="radio" th:field="*{status}" value="false" /> Atrasado
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="observacoes">Observações:</label>
                        <div class="col-sm-10">
                            <input type="text" id="observacoes" th:field="*{observacoes}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Renovado?</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" th:field="*{renovado}" value="true" /> Sim
                            </label>
                            <label class="radio-inline">
                                <input type="radio" th:field="*{renovado}" value="false" /> Não
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-info"><i class="fa fa-save"></i> Editar
                                Empréstimo</button>
                            <a th:href="@{/emprestimo}" class="btn btn-default"><i class="fa fa-arrow-left"></i>
                                Voltar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div th:replace="fragments/dashboard :: dashboard-scripts"></div>
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
</body>

</html>