* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #96b3bf;
}

h3 {
    text-align: center;
    padding: 30px;
    color: #ffff;
}

form {
    margin-left: 20px;
}

.form-label {
    display: inline-block;
    width: 120px;
    margin-right: 10px;

}

#cadastro {
    max-width: 500px;
    margin: 20px auto;

}

.form-control {
    display: inline-block;
}

.opcoes {
    margin: 0 auto;
    text-align: center;
}
.btnCadastro{
    text-align: center;
    margin-top: 20px;
}
#btnCadastrar {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: white;
}