* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-light-blue {
    background-color: #f0f8ff; 
}

.custom-card-cadastro {
    max-width: 450px; 
    border: 2px solid #017DC5; 
    border-radius: 15px; 
    background-color: white; 
    padding: 30px;
}

.titulo-cadastro {
    color: #03658C; 
    font-size: 2rem;
    font-weight: bold;
}

.form-label {
    color: #03658C; 
    font-weight: 500;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #ccc;
}

#btnCadastrar {
    border: 1px solid #0d6efd;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #0d6efd; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: 1.1rem;
    font-weight: bold;
}
#btnCadastrar:hover {
    background-color: #017DC5; 
    border-color: #017DC5;
}

.btn-outline-primary {
    color: #0d6efd;
    border-color: #0d6efd; 
    border-radius: 0; 
}

.btn-check:checked + .btn-outline-primary {
    background-color: #017DC5;
    border-color: #017DC5;
    color: white;
}

#btnEntrar {
    color: #0d6efd !important;
    font-weight: 500;
}
#btnEntrar:hover {
    text-decoration: underline !important;
}

.section-login, .section-registro, .section-acesso-negado {
    min-height: calc(100vh - 120px); /* Ajuste a altura conforme o tamanho do seu header/footer */
    padding: 2rem 0;
}